---
import ThemeToggle from "./ThemeToggle.astro";

const { title, homeUrl = "/", links = [] } = Astro.props;
---
<header class="topbar">
  <a href={homeUrl}>{title}</a>
  <div class="header-links">
    {links.map((link) => (
      <a href={link.href}>{link.label}</a>
    ))}
    <ThemeToggle />
  </div>
</header>
